/* Answer Modal */
.react-responsive-modal-closeButton {
  left: 14px;
  color: var(--icon-color);
}
.react-responsive-modal-modal {
  border-radius: 10px;
  padding: 0 !important;
  margin: 0;
}
.add_answer_modal {
  box-sizing: border-box;
  width: 660px;
  height: 540px;
  border-radius: 15px !important;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.modal_question {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_question_txt {
  color: var(--quora-color);
}
.modal_question_username,
.modal_question_date,
.modal_question_time {
  font-weight: 700;
}
.modal_answer {
  padding: 25px 0px;
}
.ql-editor {
  box-sizing: border-box;
  height: 300px !important;
  /* border: 1px solid black; */
  font-size: 14px;
}
.ql-container {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.ql-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Modal Footer CSS*/
.modal_footer_buttons {
  position: absolute;
  bottom: 15px;
}
.modal_footer_buttons {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  border: none;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
  width: 92%;
}
.modal_footer_add_a {
  text-transform: initial !important;
  height: 30px !important;
  border-radius: 15px !important;
  background-color: var(--link-color) !important;
  color: white !important;
  font-size: 13px !important;
}
.modal_footer_cancel {
  text-transform: initial !important;
  height: 30px !important;
  border-radius: 15px !important;
  background-color: var(--hover-color) !important;
  color: var(--icon-color) !important;
  font-size: 13px !important;
  margin-right: 10px !important;
}
