.admin_sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 0 0 170px;
  position: sticky !important;
  box-sizing: border-box;
  top: 70px;
  height: calc(100vh - 90px);
}

.admin_sidebar_title {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(58, 58, 58) !important;
}
.admin_sidebar_divider {
  margin: 10px 0px 5px 0px;
  color: var(--hover-color);
}
