.all_users_items {
  display: flex;
  align-items: center;
  /* background-color: var(--btn-bg-color); */
  border-bottom: 1px solid var(--border-color);
  padding: 16px 24px;
}
.all_users_index {
  width: var(--userrank-col1);
}
.all_users_name {
  display: flex;
  width: var(--userrank-col2);
  /* width: fit-content; */

  align-items: center;
}
.all_users_name_txt {
  width: fit-content;
}
.all_users_delete {
  width: var(--userrank-col3);
}
.delete_post_by_user_pic {
  cursor: pointer;
  padding: 0px 2px;
}
