/* Sidebar bottom Styling */

.sidebar-bottom-divider {
  margin: 10px 0px;
  color: var(--hover-color);
}
.sidebar-bottom-links {
  font-size: 13px;
  color: var(--icon-color);
}
.sidebar-bottom-links a {
  text-decoration: none;
  color: var(--icon-color);
}
.sidebar-bottom-links a:hover {
  text-decoration: underline;
}

/* Create space modal */

.create_space_modal {
  box-sizing: border-box;
  width: 660px;
  height: 540px;
  border-radius: 15px !important;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  box-sizing: border-box;
}
.create_space_modal_title {
  margin-top: 45px;
  margin-bottom: 20px;
}
.create_space_modal_title h3 {
  margin-bottom: 5px;
}
.create_space_modal_title p {
  color: var(--icon-color);
  font-size: 15px;
}
.create_space_modal_av {
  font-size: 14px;
  color: green;
  display: none;
}
.create_space_modal_nav {
  font-size: 14px;
  color: red;
  display: none;
}
.create_space_modal_name_label,
.create_space_modal_desc_label,
.create_space_modal_profile_pic_label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}
.create_space_modal_profile_pic_box {
  display: flex;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px dashed var(--border-color);
  border-radius: 5px;
}
.create_space_modal_profile_pic_box:hover {
  border-color: var(--link-color);
}
.required_star {
  color: red;
}
#create_space_modal_name,
#create_space_modal_desc {
  box-sizing: border-box;
  min-height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
#create_space_modal_profile_pic {
  width: 100%;
  cursor: pointer;
}
#create_space_modal_name:hover,
#create_space_modal_name:focus,
#create_space_modal_desc:hover,
#create_space_modal_desc:focus {
  border-color: var(--link-color);
}
.create_space_modal_name_wrapper,
.create_space_modal_desc_wrapper {
  margin-bottom: 20px;
}
.create_space_modal_desc_sub_label {
  color: var(--icon-color);
  font-size: 12px;
  margin-bottom: 10px;
}

.create_space_modal_footer {
  position: absolute;
  bottom: 10px;
  width: 92%;
}
.create_space_modal_footer_divider {
  margin-bottom: 10px;
  border-top: 1px solid var(--border-color);
}
.create_space_modal_footer_btns {
  display: flex;
  justify-content: flex-end;
}
.create_space_modal_btn {
  text-transform: initial !important;
  height: 30px !important;
  border-radius: 15px !important;
  background-color: var(--link-color) !important;
  color: white !important;
  font-size: 13px !important;
  padding: 10px 25px !important;
}
