.each_product {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.each_product_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  box-sizing: border-box;
  height: fit-content;
  color: var(--icon-color);
}
.each_product_pic {
  height: 300px;
  /* border-radius: 15px; */
}
.each_product_left {
  margin-right: 15px;
}
.each_product_right {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.each_product_title {
  font-weight: 600;
}
.each_product_features_wrapper {
  display: flex;
  flex-direction: column;
}
.each_product_desc_features {
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: underline;
}
.each_product_desc_text {
  font-size: 16px;
  margin-bottom: 15px;
  white-space: pre-wrap;
}
.each_product_av,
.each_product_price_title {
  font-weight: 600;
}
.each_product_stock_wrapper,
.each_product_price_wrapper {
  display: flex;
}
.each_product_btn {
  text-transform: initial !important;
  height: 30px !important;
  /* border-radius: 15px !important; */
  background-color: var(--link-color) !important;
  color: white !important;
  font-size: 13px !important;
  display: block !important;
}

/* Address Modal CSS */

.react-responsive-modal-closeButton {
  left: 14px;
  color: var(--icon-color);
  width: fit-content;
}
.react-responsive-modal-modal {
  border-radius: 10px;
  padding: 0 !important;
  margin: 0;
}
.address_modal {
  box-sizing: border-box;
  width: 660px;
  height: fit-content;
  border-radius: 15px !important;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  box-sizing: border-box;
}

#address_modal_full_name,
#address_modal_mobile_number,
#address_modal_pincode,
#address_modal_add_line1,
#address_modal_add_line2,
#address_modal_city,
#address_modal_state,
#address_modal_country {
  box-sizing: border-box;
  min-height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.mobile_pincode_wrapper,
.city_state_country_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address_modal_mobile_number_wrapper,
.address_modal_pincode_wrapper {
  width: 49%;
}

.address_modal_city_wrapper,
.address_modal_state_wrapper,
.address_modal_country_wrapper {
  width: 32%;
}

.address_header {
  margin-top: 40px;
  margin-bottom: 20px;
}
.address_header p {
  color: var(--icon-color);
  font-size: 15px;
}

.address_modal_btn {
  width: fit-content !important;
}

.address_footer_buttons {
  display: flex;
  justify-content: flex-end;
}
.address_footer {
  margin-top: 10px;
}
