.firsttimelogin {
  display: flex;
  /* width: fit-content; */
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  flex-direction: column;
}
.firsttimelogin_child_container {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgb(172, 172, 172);
  width: fit-content;
}
.each_choice {
  display: flex;
  align-items: center;
}
.each_choice_input {
  width: 15px;
  height: 15px;
}
.firsttimelogin-referredby {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.firsttimelogin-referredby-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.firsttimelogin-referredby-txt {
  margin-top: 5px;
  color: var(--link-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}
.firsttimelogin_all_choices {
  display: flex;
  flex-direction: column;
}
.firsttimelogin_wrapper {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid var(--border-color);
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}
.firsttimelogin_header {
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;
  color: rgb(70, 70, 70);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.firsttimelogin_btn_wrapper {
  width: 100%;
}
.firsttimelogin_next_btn {
  text-transform: initial !important;
  padding: 1px 25px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background-color: var(--link-color) !important;
  color: white !important;
  font-size: 16px !important;
  width: 100%;
}

/* UserDetails css*/

.userdetails {
  box-sizing: border-box;
  border-radius: 15px !important;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.userdetails_title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 15px;
}
.userdetails_title h4 {
  font-size: 20px;
  font-weight: 500;
}
.userdetails_username,
.userdetails_display_name,
.userdetails_profile_pic,
.userdetails_country,
.userdetails_bio {
  margin-bottom: 15px;
}
#ugossips_user_name,
#ugossips_display_name,
#ugossips_user_bio {
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
#ugossips_user_name:focus,
#ugossips_display_name:focus,
#ugossips_user_bio:focus,
#ugossips_profile_pic:focus {
  border-color: var(--link-color) !important;
}
.ugossips_profile_pic_box {
  display: flex;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px dashed var(--border-color);
  border-radius: 5px;
}
.ugossips_profile_pic_box:hover {
  border-color: var(--link-color);
}
#ugossips_profile_pic {
  width: 100%;
  cursor: pointer;
}
#ugossips_country {
  display: flex;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}

.first_time_login_error {
  font-size: 14px;
  color: red;
  display: none;
}
